.git
.gitignore
.gitattributes
.env
.env.example
.env.local
.env.*.local
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/framework/testing
storage/tmp
var
*.md
*.log
*.sql
*.sqlite
.phpunit.result.cache
.php-cs-fixer.dist.php
phpstan.neon
phpcs.xml.dist
tests
coverage
.idea
.vscode
.DS_Store
Thumbs.db
